.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Flo-header {
  margin: 0;
  text-align: center;
  width: 100%;
  background: #2A3245;
  color: white;
  font-size: 2em;
  padding: .4em 0;
  border-bottom: 2px solid #cccccc;

}

.Flo-header h1{
  margin: 0;
}
.Flo-content{
  display: flex;
  flex-grow: 1;
}
.Flo-left-pane {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #cccccc;
}
.Flo-right-pane {
  width: 50%;
  flex-grow: 1;

}
.editor-window {
  flex: 1;
  border-bottom: 1px solid #cccccc;
  overflow-y: scroll;
}

.window-holder{
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 3em;
  color: #dddddd;
}

/*TODO: Figure out a smarter way of doing this*/
/*
This removes the graph controls from being all the way in the left
and puts them on the left relative to the graph element.
*/
#graph{
  position: relative;
}

/*TODO: MOVE THIS*/
/*
Insane CSS selector trick to make heights behave nice
Credit: https://stackoverflow.com/a/12198561
*/
/* one item */
.editor-window:first-child:nth-last-child(1) {
  /* -or- li:only-child { */
  height: 100%;
}

/* two items */
.editor-window:first-child:nth-last-child(2),
.editor-window:first-child:nth-last-child(2) ~ .editor-window {
  height: 50%;
}

/* three items */
.editor-window:first-child:nth-last-child(3),
.editor-window:first-child:nth-last-child(3) ~ .editor-window {
  height: 33.3333%;
}
